@model IEnumerable<Presupuestador.Models.Tarea>

@{
    ViewBag.Title = "Tareas";
}

<h2>Tareas</h2>

<table class="table">
    <tr>
        <th>
            Título
        </th>
        <th>
            Descripción
        </th>
        <th>
            Categoría
        </th>
        <th>
            Tipo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos_Tareas.descripcion)
        </td>
        <td>
            <span class="glyphicon glyphicon-pencil" data-tooltip="tooltip" data-placement="bottom" title="Editar" onclick="location.href='@Url.Action("Edit", new {id= item.id})'"></span>
            <span class="glyphicon glyphicon-trash" data-tooltip="tooltip" data-placement="bottom" title="Eliminar" onclick="location.href='@Url.Action("Delete", new {id= item.id})'"></span>
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Crear Tarea", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
</p>