@model Presupuestador.Models.Proyecto

@{
    ViewBag.Title = "Eliminar Proyecto";
}

<h2>Eliminar Proyecto</h2>

<h3>Estas seguro que queres eliminar este proyecto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Contacto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Cancelar", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </div>
    }
</div>
