@model IEnumerable<Presupuestador.Models.Contacto>

@{
    ViewBag.Title = "Contactos";
}

<h2>Contactos</h2>

<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Correo Electrónico
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Cargo (Solo Personas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>
        <td>
            <span class="glyphicon glyphicon-pencil" data-tooltip="tooltip" data-placement="bottom" title="Editar" onclick="location.href='@Url.Action("Edit", new {id= item.id})'"></span>
            <span class="glyphicon glyphicon-trash" data-tooltip="tooltip" data-placement="bottom" title="Eliminar" onclick="location.href='@Url.Action("Delete", new {id= item.id})'"></span>
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Crear Contacto", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
</p>
