@model Presupuestador.Models.Recurso

@{
    ViewBag.Title = "Eliminar Recurso";
}

<h2>Eliminar Recurso</h2>

<h3>Estas seguro que queres eliminar este recurso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Valor hora
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.valorHora)
        </dd>

        <dt>
            Rango
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rango.descripcion)
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancelar", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </div>
    }
</div>
