@model Presupuestador.Models.Presupuesto

@{
    ViewBag.Title = "Eliminar Presupuesto";
}

<h2>Eliminar Presupuesto</h2>

<h3>Estas seguro que queres eliminar este presupuesto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Ciclos por test")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciclos_test)
        </dd>

        <dt>
            @Html.DisplayName("Tiempo por test")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempo_test)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Creación")
        </dt>

        <dd>
            @Convert.ToDateTime(Model.fecha_creacion).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Vencimiento")
        </dt>

        <dd>
            @Convert.ToDateTime(Model.fecha_vencimiento).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayName("Cargos sociales")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargas_sociales)
        </dd>

        <dt>
            @Html.DisplayName("Markup ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markup)
        </dd>

        <dt>
            @Html.DisplayName("Costo Base")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo_base)
        </dd>

        <dt>
            @Html.DisplayName("Creador ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creador)
        </dd>

        <dt>
            @Html.DisplayName("Estado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presupuestos_Estados.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancelar", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </div>
    }
</div>
