@model Presupuestador.ViewModels.PresupuestoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Presupuesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Ciclos por test")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciclos_test)
        </dd>

        <dt>
            @Html.DisplayName("Tiempo por test")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempo_test)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Creación")
        </dt>

        <dd>
            @Convert.ToDateTime(Model.fecha_creacion).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayName("Fecha de Vencimiento")
        </dt>

        <dd>
            @Convert.ToDateTime(Model.fecha_vencimiento).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayName("Cargos sociales")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargas_sociales)%
        </dd>

        <dt>
            @Html.DisplayName("Markup ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.markup)%
        </dd>

        <dt>
            @Html.DisplayName("Costo Base")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo_base)
        </dd>

        <dt>
            @Html.DisplayName("Costo con Cargas Sociales")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoConCargas)
        </dd>

        <dt>
            @Html.DisplayName("Costo con Markup")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoMarkup)
        </dd>

        <dt>
            @Html.DisplayName("Creador ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creador)
        </dd>

        <dt>
            @Html.DisplayName("Estado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @role = "button" })
    @*@Html.ActionLink("Editar", "Edit", routeValues: new { id = Model.id }, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })*@
</p>
