@model IEnumerable<Presupuestador.Models.Presupuesto>

@{
    ViewBag.Title = "Presupuestos";
}

<h2>Presupuestos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Fecha Creación")
        </th>
        <th>
            @Html.DisplayName("Fecha Vencimiento")
        </th>
        <th>
            @Html.DisplayName("Costo")
        </th>
        <th>
            @Html.DisplayName("Creador")
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        @Convert.ToDateTime(item.fecha_creacion).ToString("dd/MM/yyyy")
    </td>
    <td>
        @Convert.ToDateTime(item.fecha_vencimiento).ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.costo_base)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.creador)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Presupuestos_Estados.descripcion)
    </td>
    <td>
        <span class="glyphicon glyphicon-pencil" data-tooltip="tooltip" data-placement="bottom" title="Editar" onclick="location.href='@Url.Action("Edit", new {id= item.id})'"></span>
        <span class="glyphicon glyphicon-eye-open" data-tooltip="tooltip" data-placement="bottom" title="Detalle" onclick="location.href='@Url.Action("Details", new {id= item.id})'"></span>
        <span class="glyphicon glyphicon-trash" data-tooltip="tooltip" data-placement="bottom" title="Eliminar" onclick="location.href='@Url.Action("Delete", new {id= item.id})'"></span>
    </td>
</tr>
}
</table>
<p>
    @Html.ActionLink("Crear Presupuesto", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-danger", @role = "button" })
</p>
